/*
=======
FlexBox
=======
*/

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.centerItem {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*
==========
EndFlexBox
==========
*/

/*
=====
Fonts
=====
*/

@font-face {
    font-family: 'iransans';
    src: url(fonts/IRANSansWeb.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'iransansbold';
    src: url(fonts/IRANSansWebBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'iransansblack';
    src: url(fonts/IRANSansWebBlack.ttf) format("truetype");
    font-style: normal;
}

/*
========
EndFonts
========
*/

p, a {
    font-family: "iransans", sans-serif;
    line-height: 150%;
    color: #7B7F98;
}

h1, h2, h3 {
    font-family: "iransansblack", sans-serif;
    line-height: 150%;
    color: #233E63;
}

h4, h5, h6 {
    font-family: "iransansbold", sans-serif;
    color: #233E63;
}

a {
    text-decoration: none;
}

body {
    direction: rtl;
    background-color: #FCFBFF;
}

html {
    overflow-x: hidden;
}

/*
=============
Normalize css
=============
*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*
=================
End Normalize css
=================
*/

/*
=========
Start Header
=========
*/

.headerBackground {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    padding-top: 30px;
    padding-bottom: 50px;
}

header {
    position: relative;
}

.headerLogo img {
    width: 80px;
    height: auto;
}

.headerNavigationLink {
    padding-right: 10%;
    padding-left: 10%;
}

.headerNavigationLink ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.headerNavigationLink li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.headerNavigationLink a {
    color: #ffffff;
    font-size: 15px;
}

.HeaderNavigationButton a {
    float: left;
    padding: 15px 20px;
    font-size: 12px;
    background-color: #ffffff;
    color: #FF5D89;
    border-radius: 30px;
}

.headerTitr {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

.headerButton a {
    background-color: #FF5D89;
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 15px;
}

.headerButton {
    text-align: center;
    margin-bottom: 20%;
}

/*
=========
END Header
=========
*/

/*
=========
START Section
=========
*/

section {
    padding-bottom: 10%;
    position: relative;
}

.sectionPlanetRight {
    position: absolute;
    right: -10%;
    top: -10rem;
    z-index: -1;
    width: 31%;
}

.orderForm input {
    width: 90%;
    margin-top: 20px;
}

.orderForm textarea {
    width: 95%;
    margin-top: 20px;
}

.orderForm input, .orderForm textarea {
    border: #FF5D89 2px solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "iransans", sans-serif;
    color: #233E63;
    background-color: #ffffff;
}

.orderForm input, .orderForm textarea {
    padding-right: 50px;
    padding-left: 10px;
}

.orderForm label img {
    position: absolute;
    right: 20px;
    top: 40px;
}

.orderFormTA img {
    top: 35px !important;
}

.orderForm textarea {
    resize: vertical;
    height: 150px;
    margin-bottom: 60px;
}

.orderForm input::-webkit-input-placeholder, .orderForm textarea::-webkit-input-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.orderForm input::-moz-placeholder, .orderForm textarea::-moz-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.orderForm input:-ms-input-placeholder, .orderForm textarea:-ms-input-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.orderForm input::-ms-input-placeholder, .orderForm textarea::-ms-input-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.orderForm input::placeholder, .orderForm textarea::placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.orderForm button {
    background-color: #FF5D89;
    color: #ffffff;
    border-radius: 25px;
    padding: 15px 50px;
    font-family: "iransansbold", sans-serif;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.orderFormCont {
    background-color: #ffffff;
    -webkit-box-shadow: 3px 0 3px 1px rgba(35, 62, 99, 0.3);
    box-shadow: 3px 0 3px 1px rgba(35, 62, 99, 0.3);
    border-radius: 20px;
    padding-top: 80px;
    padding-bottom: 60px;
}

form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.infoCont {
    background-color: #6769FB;
    padding-top: 85px;
    padding-bottom: 85px;
    padding-right: 30px;
    border-radius: 20px;
}

 .info {
    display: inline-flex;
     margin-bottom: 40px;
     align-items: center;
}

.info a h1 {
    font-size: 15px;
    color: #ffffff;
    padding-right: 30px;
}

.info img {
    width: 28px;
    height: 28px;
}

.infoTitr {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 80px;
}

/*
=========
ENDSection
=========
*/

/*
=========
Start Footer
=========
*/

footer {
    position: relative;
}

.footerAboutUs img:first-of-type {
    width: 60px;
    margin-bottom: 25px;
}

.footerAboutUs p {
    font-size: 14px;
    text-align: justify;
    padding-bottom: 40px;
}

.footerSocial img {
    width: 50px !important;
}

.footerSocial a {
    margin-top: 40px;
    margin-left: 10px;
}

.footerLinks p, .footerLinks h4 {
    text-align: center;
}

.footerLinks p {
    font-size: 15px;
}

.footerLinks h4 {
    font-size: 20px;
}

.copyRight {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 15px;
}

.footerPlanetBackground {
    position: absolute;
    right: 5rem;
}

.footerRocketBackground {
    position: absolute;
    left: 0;
    bottom: 0;
}

/*
========
End Footer
========
*/


/* RESPONSIVE */

@media (max-width: 1200px) {
    .headerBackground {
        display: none;
    }

    header {
        background: rgb(104, 108, 253);
        background: -webkit-gradient(linear, left top, right top, from(rgba(104, 108, 253, 1)), to(rgba(78, 39, 209, 1)));
        background: -o-linear-gradient(left, rgba(104, 108, 253, 1) 0%, rgba(78, 39, 209, 1) 100%);
        background: linear-gradient(90deg, rgba(104, 108, 253, 1) 0%, rgba(78, 39, 209, 1) 100%);
    }

    .headerTitr {
        font-size: 35px;
    }
}

@media (max-width: 992px) {

    .infoCont {
        margin-top: 20px;
    }

    .orderForm button {
        float: none;
        display: block;
        width: 30%;
        margin-top: 3%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .orderForm input, .orderFormTA textarea {
        width: 100%;
    }

    .orderForm input:first-of-type {
        margin-top: 30px;
    }

    .orderForm label img {
        top: 45px;
    }

    .section1PlanetRight {
        top: 0;
    }

    .headerNavigationLink {
        display: none;
        width: 0;
    }

    .headerLogo, .HeaderNavigationButton {
        display: block;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .headerButton a {
        font-size: 14px;
        padding: 11px 50px;
    }

    .footerAboutUs img:first-of-type {
        margin-bottom: 0;
    }

    .footerAboutUs p {
        padding-bottom: 0;
    }

    .footerPlanetBackground {
        top: 20rem;
    }

    .sectionPlanetRight {
        display: none;
    }

}

@media (max-width: 768px) {
    .orderForm button {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .footerPlanetBackground, .footerRocketBackground {
        display: none;
    }

    .orderForm button {
        width: 60%;
    }
}

/* HOVER */

.headerButton a, .HeaderNavigationButton a, .headerNavigationLink a,
.footerLinks p, .footerAboutUs img, .orderForm button, .orderForm input,
.orderForm textarea {
    transition-duration: 0.5s;
}

.HeaderNavigationButton a:hover {
    background-color: #FF5D89;
    color: #ffffff;
}

.headerNavigationLink a:hover {
    color: #FF5D89;
}

.headerButton a:hover {
    background-color: #ffffff;
    color: #FF5D89;
}

.footerLinks p:hover {
    color: #2c3e50;
}

.footerAboutUs img:hover {
    transform: rotate(15deg);
}

.orderForm button:hover {
    border: 1px solid #FF5D89;
    color: #FF5D89;
    background-color: #ffffff;
}

.orderForm input:focus, .orderForm textarea:focus {
    box-shadow: 0 4px 5px 0 rgba(255, 93, 137, 0.26);
    -webkit-box-shadow: 0 4px 5px 0 rgba(255, 93, 137, 0.26);
    -moz-box-shadow: 0 4px 5px 0 rgba(255, 93, 137, 0.26);
}